#profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.order_success{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
#profile_review{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid red;
}
.product-img{
    max-height: 215px;
    max-width: 286px;

}
.product-info-img{
    max-height: 300px;
    max-width: 400px;
}
.green{
    background-color: #00c851 !important;
}